@model StudyOnline.Entities.Models.User
@{
    Layout = null;
}

@using (Html.BeginForm("GetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Vui Lòng Điền Email Của Bạn.</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control placeholder-no-fix", @placeholder = "UserName" })
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Email" })
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
        <button class="btn btn-success" id="btn-forgot" type="submit">Xác Nhận</button>
    </div>
}
